<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Istanbulování - {{ title }} </title>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!-- Náš vlastní styl -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>

	<header class="header">
		<h1 class="header__logo">{{ title }}</h1>

	
	</header>

	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/" class="menu__link">Domů</a></li>
			<li class="menu__item"><a href="/jidlo/" class="menu__link">Jídlo</a></li>
			<!--<li class="menu__item"><a href="/onas/" class="menu__link">Zatim nic</a></li>-->
			<li class="menu__item"><a href="/pamatky/" class="menu__link">Památky</a></li>
			<li class="menu__item"><a href="/denik/" class="menu__link">Deník</a></li>
		</ul>
	</nav>