{% include 'partials/page-top.njk' %}

	<div class= "kontejner">

		<main class="main">

			
			{{ content |safe  }}
			
			
		</main>
		
		<aside class="sidebar">
			<h3>Boční průh</h3>

			<p>lorem kdkfddddddddddddddddddddslgLKSJHAKGJKNMSNFMSNFMSN</p>

		</aside>

	</div>

	{% include 'partials/page-bottom.njk' %}