{% include 'partials/page-top.njk' %}

	<div class= "kontejner">

		<main class="main">

			
			{{ content |safe  }}
			
			
		</main>
		
		<aside class="sidebar">
			<h3>Boční průh</h3>
			<h3>Boční průh</h3>

			<hr>
			<h3>Nejnovější blog</h3>

			{% for clanek in collections.clanky | reverse %}

			{% for loop.index <=1 %}

			<h4> {{ clanek.data.title}}</h4>

			<p>{{ clanek.data.perex }}</p>
			{% endif %}
		{% endfor %}

			

		</aside>

	</div>

	{% include 'partials/page-bottom.njk' %}